.main-btn{
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   color: var(--main-color);
  background-color: var(--blue-color);
  &:hover,
  &:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  }
}