.section-title {
  margin-bottom: 50px;
  
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--for-all-color);
  @media screen and (max-width: 1200px){   
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: #212121;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  // @media screen and (min-width: 480px) {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }
  
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
} 